.blog {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);

  display: grid;
  grid-template-rows: 200px auto;

  word-break: break-all;
}
.blog:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
  background: var(--primaryColor);
  transition: var(--mainTransition);
  overflow: hidden;
}
.img {
  width: 100%;
  transition: var(--mainTransition);
}
.img-container:hover .img {
  opacity: 0.3;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
  border: 2px solid var(--mainWhite);
  padding: 0.5rem 0.7rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
}
.link:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.img-container:hover .link {
  opacity: 1;
}

.footer {
  padding: 1rem;
  text-align: center;
}
.footer h4 {
  text-transform: capitalize;
  margin-bottom: 0;
}
.date {
  position: absolute;
  left: 0;
  top: 75%;
  background: var(--primaryColor);
  padding: 0.3rem 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-transform: capitalize;
  color: var(--mainWhite);
}
